<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Phrasebook.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D00BE36029E38F5A0084F6E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D00BE37029E38F5C0084F6E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D00BE37A29E38F5C0084F6E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
